body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light background for a clean look */
  margin: 0;
  padding: 0;
}

header {
  display: flex; /* Align items horizontally */
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space out items */
  padding: 10px 20px; /* Padding around header */
  background-color: white; /* White background for header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  text-decoration: none;
  display: flex; /* Align logo and text horizontally */
  align-items: center; /* Vertically center logo and text */
  margin-right: 90px; /* Added margin to separate logo from navigation */
}

.header-logo span {
  margin-left: 5px; /* Add space between the image and text */
  color: black; /* Set the text color */
  font-weight: medium; /* Make the text bold */
}
.header-logo img {
  height: 40px; /* Fixed height for logo */
  margin-right: 5px; /* Space between logo and text */
}

nav ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
  display: flex; /* Align navigation items horizontally */
}

nav {
  flex-grow: 1; /* Ensures the nav takes up remaining space */
}

nav ul li {
  margin: 0 15px; /* Space between navigation items */
}

nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: black; /* Black text color */
  font: inherit;
}

.auth-buttons {
  display: flex; /* Align buttons horizontally */
}

.auth-buttons button {
  margin-left: 10px; /* Space between buttons */
  background-color: black; /* Black background for buttons */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding inside buttons */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 10px;
}

.auth-buttons a {
  color: white; /* White text color for links */
  text-decoration: none; /* Remove underline from links */
}

.auth-buttons .arrow {
  margin-left: 6px;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #e9f5fb;
}

.intro-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.intro-video {
  flex: 1;
  display: flex;
  align-items: center;
}

.intro-video video {
  height: 550px;
  width: auto;
}

.intro-text {
  flex: 1;
  max-width: 600px;
  margin-right: 40px;
}

.intro-text h1{
  font-family: cursive;
  color: darkslategray;
  font-size: xx-large;
  margin-bottom: 32px;
  font-weight: bold;
}

.intro-text p {
  font-size: 19px;
  line-height: 1.8;
  margin-bottom: 45px;
  margin-top: 28px;
  font-family: Poppins;
}

.intro input {
  padding: 12px;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
  border-radius: 20px;
}

.intro button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  border-radius: 15px;
  height: 52px;
  cursor: pointer;
  color: white;
  font-family: sans-serif;
}

.intro button:hover {
  background-color: #02b6bc;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  flex-direction: row;
  background: linear-gradient(#fff 0% 10%, #fff 40%);
}

.features div {
  background-color: white;
  padding: 50px;
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.features h3 {
  color: black;
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-family: cursive;
}

.features div:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.features p {
  color: #555;
  font-size: 0.9rem;
  line-height: 1.6;
  font-family: Poppins;
}

.dashboard-feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background: linear-gradient(#fff 30% 10%, #e9f5fb 80%);
}

.dashboard-feature-text {
  flex: 1;
  max-width: 600px;
}

.dashboard-feature-text h2 {
  font-size: 1.5rem;
  color: darkslategray;
  font-family: cursive;
}

.dashboard-feature-text p {
  font-size: 20px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: Poppins;
}

.dashboard-feature-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.dashboard-feature-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.experience {
  padding: 60px 20px;
  background-color: #f5f5f5; /* Light grey background */
  text-align: center;
  height: 550px;
}

.experience h2 {
  font-size: 2rem;
  margin-top: 165px;
  color: darkslategray;
  font-family: cursive;
}

.experience-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.experience-item {
  width: 250px;
  margin: 20px;
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
  cursor: pointer;
}

.experience-item img {
  height: 90px;
  margin-bottom: 20px;
}

.experience-item p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

.footer p {
  margin: 0;
}

.menu-icon {
  display: none;
  font-size: 34px;
  cursor: pointer;
  position: absolute;
  left: 5px; /* Position the menu icon to the left */
}

/* Responsive on mobile phones */

@media (max-width: 480px) {
  .menu-icon {
    display: block;
  }

  .header-logo {
    margin-left: 60px; /* Add margin to the left of the logo */
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 20px;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    margin: 15px 0;
  }

  .auth-buttons {
    flex-direction: column;
    justify-content: space-between; /* Space out the buttons */
    width: 30%;
    position: absolute;
    right: 3px; /* Position the menu icon to the left */
  }

  .auth-buttons button {
    margin-top: 32px;
    padding: 2px 4px; /* Reduce padding to make buttons smaller */
    font-size: 0.8rem; /* Reduce font size */
    flex: 1; /* Make buttons fill available space */
    border-radius: 10px; /* Ensure buttons are rectangular with rounded corners */
  }

  .auth-buttons .arrow {
  display: none;
  }
  .intro {
    flex-direction: column; /* Stack elements vertically on mobile */
  }

  .intro-text h1{
    font-family: Poppins;
    color: darkslategray;
    font-size: xx-large;
    margin-bottom: 32px;
    font-weight: bold;
  }

  .intro-content {
    flex-direction: column; /* Stack elements vertically on mobile */
  }

  .intro button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    border-radius: 15px;
    height: 52px;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 150px;
  }
  .intro-video video {
    width: 100%;
    height: auto;
  }

  .intro-text {
    order: 1; /* Ensure text appears first */
    margin-right: 0;
    margin-bottom: 20px; /* Add space between text and video */
  }

  .intro-video {
    order: 2; /* Ensure video appears second */
  }

  .features {
    flex-direction: column;
    padding: 20px 10px;
    margin: 10px;
  }

  .features div {
    width: 80%;
    height: auto;
    padding: 30px;
    margin: 10px 0;
  }
  
  .dashboard-feature {
    flex-direction: column; /* Stack elements vertically on mobile */
    padding: 20px 10px;
  }

  .dashboard-feature-text {
    margin-bottom: 20px; /* Add space between text and image */
    text-align: center; /* Center-align text on mobile */
  }

  .dashboard-feature-text h2 {
    font-size: 1.5rem;
    font-family: Poppins;
  }

  .dashboard-feature-text p {
    font-size: 0.9rem;
  }

  .dashboard-feature-image {
    margin-top: 20px; /* Add space above image on mobile */
  }

  .dashboard-feature-image img {
    width: 100%; /* Ensure image takes full width on mobile */
    height: auto;
  }

  .experience-content {
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
  }

  .experience-item {
    width: 80%;
    margin: 10px 0;
  }
  .experience h2 {
    font-family: Poppins;
  }

  .footer {
    padding: 6px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    margin-top: 408px;
  }
}

