body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light background for a clean look */
  margin: 0;
  padding: 0;
}

header {
  display: flex; /* Align items horizontally */
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space out items */
  padding: 10px 20px; /* Padding around header */
  background-color: white; /* White background for header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  text-decoration: none;
  display: flex; /* Align logo and text horizontally */
  align-items: center; /* Vertically center logo and text */
  margin-right: 90px; /* Added margin to separate logo from navigation */
}

.header-logo span {
  margin-left: 5px; /* Add space between the image and text */
  color: black; /* Set the text color */
  font-weight: medium; /* Make the text bold */
}

.header-logo img {
  height: 40px; /* Fixed height for logo */
  margin-right: 5px; /* Space between logo and text */
}

nav ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
  display: flex; /* Align navigation items horizontally */
}

nav {
  flex-grow: 1; /* Ensures the nav takes up remaining space */
}

nav ul li {
  margin: 0 15px; /* Space between navigation items */
}

nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: black; /* Black text color */
  font: inherit;
}


.text {
  position: absolute;
  right: 5px;
  margin-right: 160px;
  font-size: medium;
  font-style: italic;
  font-weight: revert-layer;  
}

.auth-buttons {
  display: flex; /* Align buttons horizontally */
}

.auth-buttons button {
  margin-left: 10px; /* Space between buttons */
  background-color: black; /* Black background for buttons */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding inside buttons */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 10px;
}

.auth-buttons a {
  color: white; /* White text color for links */
  text-decoration: none; /* Remove underline from links */
}

.auth-buttons .arrow {
  margin-left: 6px;
}

.login-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 300px;
  margin: 2rem auto; /* Center the container */
  padding: 2rem;
  background-color: white;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form-grid {
  display: table-column;

}

.login-form {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #02b6bc;
}

.button-group button[type="submit"] {
  width: 100%;
  padding: 1rem;
  background-color: #02b6bc;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* Ensure there is space for the icon */
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
}

.loginerror-message {
  color: red;
}

.menu-icon {
  display: none;
  font-size: 34px;
  cursor: pointer;
  position: absolute;
  left: 5px; /* Position the menu icon to the left */
}

/* Responsive on mobile phones */

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .header-logo {
    margin-left: 40px; /* Add margin to the left of the logo */
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 20px;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    margin: 15px 0;
  }

  .auth-buttons {
    flex-direction: column;
    justify-content: space-between; /* Space out the buttons */
    width: 30%;
    position: absolute;
    right: 3px; /* Position the menu icon to the left */
  }

.text {
  position: absolute;
  right: 3px;
  margin-right: 5px;
  font-size: small;
  font-style: italic;
  font-weight: revert-layer;
  margin-bottom: 61px;
}
  .auth-buttons button {
    /*margin: 0 5px;*/
    margin-top: 4px;
    padding: 2px 4px; /* Reduce padding to make buttons smaller */
    font-size: 0.8rem; /* Reduce font size */
    flex: 1; /* Make buttons fill available space */
    border-radius: 10px; /* Ensure buttons are rectangular with rounded corners */
  }

  .auth-buttons .arrow {
  display: none;
  }
};
