.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f56a00; /* Fallback color for initials */
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 54px;
  top: -8px;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f56a00;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 209px;
    top: -9px;
  }
}
